*{
	font-family:Roboto, sans-serif;
	size:12px;
}

header{
  background: url("header.jpg")  no-repeat center bottom;
  height: 900px;
  position: relative;
  width: 100%;
  background-size:cover;
  background-attachment: fixed;
  max-width: 100%;
}
.container
{
	padding-top:80px;
	width:100%;
	height:400px;
	text-align: center;
	background-color:white;
    filter:alpha(opacity=60);
    opacity:0.6;
}

h3{
	padding-left:20px;
}

 ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lavenderblush;
	position: fixed;
    top: 0;
	width:100%;
	z-index:100;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: Pink;}

ul.topnav li a.active {background-color: LightPink;}

ul.topnav li.right {
	float: right;
    margin: 0;
	padding: 0 30px;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

ul.group{
    border-style: solid;
    border-width: 3px;
	font-size:18px;
	padding: 10px 10px 10px 20px;
}
.indexp{
    border-style: solid;
    border-width: 3px;
	font-size:18px;
	padding-left: 20px;
	height: 500px;
	overflow:scroll;
}

.normalp p{
    border-style: solid;
    border-width: 3px;
	font-size:18px;
	padding-left: 5px;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}



/*gallery*/


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*accommdation*/
.ACcontainer {
  border: 2px solid black;
  border-bottom: 0px;
  background-color: lavender;
  border-radius: 10px;
  padding: 16px;
}

.ACcontainer p{
  font-size: 24px;
  margin-right: 15px;
}

.ACcontainer::after {
  content: "";
  clear: both;
  display: table;
}

.ACcontainer img {
  padding-left: 10px;
  float: left;
  margin-right: 20px;
  border-radius: 10%;
}

.ACcontainer span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .ACcontainer {
      text-align: center;
  }
  .ACcontainer img {
      margin: auto;
      float: none;
      display: block;
  }
}

/*dinning*/

.DIcontainer {
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 50px;
  padding: 16px;
}

.DIcontainer::after {
  content: "";
  clear: both;
  display: table;
}

.DIcontainer img {
  float: left;
  margin-right: 20px;
  border-radius: 30%;
}

.DIcontainer span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .DIcontainer {
      text-align: center;
  }
  .DIcontainer img {
      margin: auto;
      float: none;
      display: block;
  }
}








